<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2 translate>Request permissions</h2>
        <pre>{{permissions | json}}</pre>
        <table class="table table-medium table-hover table-mc-indigo">
            <thead>
                <tr>
                    <th>Queues</th>
                    <th>Reports</th>
                    <th>Tickets</th>
                    <th>Grants</th>
                </tr>
            </thead>            
            <tbody>
                <tr data-ng-repeat="category in categories">
                    <td data-title="Queueus">{{category.name}}</td>
                    <td data-title="Reports">
                        <md-checkbox data-ng-model="permissions[$index].queueTypes" aria-label="Reports"
                                     data-ng-true-value="'report'">                            
                        </md-checkbox>
                    </td>
                    <td data-title="Tickets">
                        <md-checkbox data-ng-model="permissions[$index].queueTypes" aria-label="Reports"
                                     data-ng-true-value="'ticket'">                            
                        </md-checkbox>                        
                    </td>
                    <td data-title="Grants">
                        <select data-ng-model="permissions[$index].level"
                                data-ng-options="grant as grant for grant in permissionsGrant">
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-dialog-content>
    <md-dialog-actions layout="horizontal" layout-align="end">
        <md-button  ng-click="cancel()">Cancel</md-button>
        <md-button  class="md-primary" ng-click="hide()">Save</md-button>
    </md-dialog-actions>
</md-dialog>
